# Project exclude paths
/venv/
/week_2_workflow_orchestration/zooomcamp/

/.idea/

/week_1_basics_n_setup/terraform_gcp/terraform/.terraform/
/week_1_basics_n_setup/terraform_gcp/terraform/.terraform*
/week_1_basics_n_setup/terraform_gcp/terraform/terraform*

!/week_1_basics_n_setup/terraform_gcp/terraform/.terraform-version
!/week_1_basics_n_setup/terraform_gcp/terraform_overview.md

# postgres db
/week_1_basics_n_setup/docker_sql/ny_taxi_postgres_data/

/week_1_basics_n_setup/docker_sql/*.csv
/week_1_basics_n_setup/docker_sql/tst

/cohorts/2023/week_2_workflow_orchestration/el_parent_flow-deployment.yaml
/cohorts/2023/week_2_workflow_orchestration/etl_parent_flow-deployment.yaml
/cohorts/2023/week_3_data_warehouse/etl_parent_flow-deployment.yaml
/week_2_workflow_orchestration/etl_parent_flow-deployment.yaml
/etl_parent_flow-deployment.yaml

/week_2_workflow_orchestration/flows/01_start/yellow_tripdata_2021-01.csv.gz
