# Project exclude paths
/venv/
/.idea/

/week_1_basics_n_setup/terraform_gcp/terraform/.terraform/
/week_1_basics_n_setup/terraform_gcp/terraform/.terraform*
/week_1_basics_n_setup/terraform_gcp/terraform/terraform*

!/week_1_basics_n_setup/terraform_gcp/terraform/.terraform-version
!/week_1_basics_n_setup/terraform_gcp/terraform_overview.md

# postgres db
/week_1_basics_n_setup/docker_sql/ny_taxi_postgres_data/

/week_1_basics_n_setup/docker_sql/*.csv
/week_1_basics_n_setup/docker_sql/tst
